<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="profix898" value="https://nuget.pkg.github.com/profix898/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <profix898>
      <add key="Username" value="profix898" />
      <add key="ClearTextPassword" value="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" />
    </profix898>
  </packageSourceCredentials>
</configuration>