<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="GitLabMPI" value="https://info.emg.ing.tu-bs.de/git/api/v4/projects/134/packages/nuget/index.json" />
    <add key="profix898" value="https://nuget.pkg.github.com/profix898/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <GitLabMPI>
      <add key="Username" value="mpi" />
      <add key="ClearTextPassword" value="UyL9CkHH6DtV3r7QS7Xz" />
    </GitLabMPI>
    <profix898>
      <add key="Username" value="profix898" />
      <add key="ClearTextPassword" value="b12b8a03f228c80ce3aea18bb6ec4857480d4995" />
    </profix898>
  </packageSourceCredentials>
</configuration>